<!DOCTYPE html>
<html>
<head>
  <title>LoyaltyCore</title>
  <%= stylesheet_link_tag    "loyalty_core/application", media: "all" %>
  <%= javascript_include_tag "loyalty_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
